# {{ ansible_managed }}

dev tun
ifconfig {{ server_addr }} {{ client_addr }}
secret {{ keyfile }}

{% if compression is defined and compression %}
comp-lzo

{% endif %}
keepalive {{ keepalive }}
ping-timer-rem
persist-tun
persist-key

up /usr/local/sbin/do_masquerade
